## Introduction

In this workshop, we'll explore the NumPy and pandas libraries for data analysis. NumPy is a scientific computing library often used for its fast array-based operations, and pandas is a data analysis library commonly used for manipulation/analysis of tabular (e.g. CSV-formatted) data.

## NumPy Arrays (ndarrays)

In [0]:
## CODE CELL 1

import numpy as np

In [0]:
## CODE CELL 2

arr = np.array([1,3,5,7])
arr

Why ndarrays?
- efficient vectorized, elementwise operations for homogeneous data (sometimes orders of magnitude faster than in "pure Python")
- provides foundation for operations in **pandas**

In [124]:
## Comparision of timing
import time
import numpy as np

size_of_vec = 1000

def pure_python_version():
    t1 = time.time()
    X = range(size_of_vec)
    Y = range(size_of_vec)
    Z = [X[i] + Y[i] for i in range(len(X)) ]
    return time.time() - t1

def numpy_version():
    t1 = time.time()
    X = np.arange(size_of_vec)
    Y = np.arange(size_of_vec)
    Z = X + Y
    return time.time() - t1


t1 = pure_python_version()
t2 = numpy_version()
print(t1, t2)
print("Numpy is in this example " + str(t1/t2) + " faster!")

0.0002675056457519531 0.0007452964782714844
Numpy is in this example 0.35892514395393477 faster!

### Creating an ndarray

In [0]:
## CODE CELL 3
# We already saw this

np.array([1,3,5,7])

In [0]:
## CODE CELL 4
# Similar to range() function used in for loops and other places

np.arange(10)

In [0]:
## CODE CELL 5
# Random numbers sampled from Gaussian distribution, mean = 0 and variance = 1
# Using different mean/variance: https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.random.randn.html

np.random.randn(5)

In [0]:
## CODE CELL 6
# 2-D version

np.random.randn(5,2)

In [0]:
## CODE CELL 7
# All ones

np.ones(10)

In [0]:
## CODE CELL 8
# All zeros

np.zeros(10)

In [0]:
from google.colab import files
files.upload()

In [0]:
## CODE CELL 9
# From a text file


my_arr = np.loadtxt('loadarray.txt')
my_arr

### Investigating an ndarray

In [0]:
## CODE CELL 10
# Number of dimensions

my_arr.ndim

In [0]:
## CODE CELL 11
# Shape

my_arr.shape

In [0]:
## CODE CELL 12
# Data type

my_arr.dtype

### Casting from one dtype to another

In [0]:
## CODE CELL 13
# Let's get a copy of my_arr as an integer array

my_intarr = my_arr.astype(int)
my_intarr
#rounded_arr = np.rint(my_arr)    # numbers rounded instead of truncated (uncomment this and the next line to run code)
#rounded_arr

Similarly, you can cast an array from/into a float or string.

In [0]:
## CODE CELL 14

years = np.array(['2000','1999','2003','1998','1999','2004'])
years.astype(int)

### Indexing and slicing

For 1D arrays, slicing and indexing are similar to corresponding operations on lists.

In [0]:
## CODE CELL 15

sales = np.array([20, 30, 31, 33, 33, 35, 40, 410, 410, 45])
sales[7:9]

However, if a scalar value is assigned to a slice, the value is broadcasted to the original array

In [0]:
## CODE CELL 16

sales_slice = sales[7:9]
sales_slice[:] = 41
sales

What if we have a 2D array?

In [0]:
## CODE CELL 17

my_arr

In [0]:
## CODE CELL 18

my_arr[0,1]

In [0]:
## CODE CELL 19

my_arr[:2, 0]

For a 2D array, the concept of axis0 vs. axis1 is something you'll want to be familiar with, especially once we move into pandas.

### Mathematical and statistical operations, functions, and methods

Remember, *elementwise* operations.

In [0]:
## CODE CELL 20

arr1 = np.arange(10)
arr2 = arr1 + 2

In [0]:
## CODE CELL 21

arr1

In [0]:
## CODE CELL 22

arr2

In [0]:
## CODE CELL 23

arr1 + arr2

In [0]:
## CODE CELL 24

arr2 * arr2

In [0]:
## CODE CELL 25

arr2 ** 0.5

In [0]:
## CODE CELL 26

1/arr2

**Universal functions, or ufuncs:**

In [0]:
## CODE CELL 27
# Equivalent to arr2 * arr2

np.square(arr2)

In [0]:
## CODE CELL 28
# Equivalent to arr2 ** 0.5

np.sqrt(arr2)

In [0]:
## CODE CELL 29
# Absolute values

mixed_arr = np.array([-1,3,2,-3,5,4,3,-6,-4,5])
np.abs(mixed_arr)

In [0]:
## CODE CELL 30
# Signs

np.sign(mixed_arr)

In [0]:
## CODE CELL 31
# Comparing two arrays to get elementwise maxima

zeros_arr = np.zeros(10)
np.maximum(mixed_arr, zeros_arr)

This is only a small sample of the many ufuncs that are out there - for more ufuncs, check out the documentation: https://docs.scipy.org/doc/numpy/reference/ufuncs.html#available-ufuncs

### Array methods

In [0]:
## CODE CELL 32

my_arr

In [0]:
## CODE CELL 33
# Sum of all elements

my_arr.sum()

In [0]:
## CODE CELL 34
# Arithmetic mean

my_arr.mean()

In [0]:
## CODE CELL 35
# Standard deviation (optionally, adjust degrees of freedom used in calculation via ddof parameter)

my_arr.std()

In [0]:
## CODE CELL 36
# Variance (ddof adjustable)

my_arr.var()

In [0]:
## CODE CELL 37
# Maximum of all elements

my_arr.max()

In [0]:
## CODE CELL 38
# Minimum of all elements

my_arr.min()

In [0]:
## CODE CELL 39
# What if I want the maximum value in each row?

my_arr.max(axis=1)

In [0]:
## CODE CELL 40
# Finding the indices of the maximum element of the array

my_arr.argmax()

How do we interpret this result?

For more, check out the "Methods" subsection here: https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.html

### Masking and more with booleans (True/False values)

In [0]:
## CODE CELL 42
# Creating an array of the top 40 U.S. cities by population

top40_arr = np.array(['New York', 'Los Angeles', 'Chicago', 'Houston', 'Philadelphia', 'Phoenix', 'San Antonio', 'San Diego',
         'Dallas', 'San Jose', 'Austin', 'Jacksonville', 'San Francisco', 'Indianapolis', 'Columbus', 'Fort Worth',
         'Charlotte', 'Seattle', 'Denver', 'El Paso', 'Detroit', 'Washington', 'Boston', 'Memphis', 'Nashville', 'Portland',
         'Oklahoma City', 'Las Vegas', 'Baltimore', 'Louisville', 'Milwaukee', 'Albuquerque', 'Tucson', 'Fresno', 'Sacramento',
         'Kansas City', 'Long Beach', 'Mesa', 'Atlanta', 'Colorado Springs'])

In [0]:
## CODE CELL 43
# Which cities start with a letter in the second half of the alphabet?

top40_arr >= 'N'

In [0]:
## CODE CELL 44
# Creating a second array of the same length

new_arr = np.random.randn(40,2)
new_arr

In [0]:
## CODE CELL 45
# Using the boolean array as a mask for a second array

mask = top40_arr>='N'
new_arr[mask]

In [0]:
## CODE CELL 46
# Compound masks also work

mask2 = (top40_arr>='N')&(top40_arr<='R')
new_arr[mask2]

In [0]:
## CODE CELL 47
# Checking if there are any top-40 cities that start with a letter after "X"

maskP = top40_arr>'X'
maskP.any()

In [0]:
## CODE CELL 48
# Checking if all top-40 cities in the array are in title case

maskCapit = np.chararray.istitle(top40_arr)
maskCapit.all()

### Some matrix operations (just the tip of the iceberg)

In [0]:
## CODE CELL 49
# Creating a matrix using an ndarray object

mat = np.array([[2,5],
                [6,7]])

In [0]:
## CODE CELL 50
# Tranposing the matrix

mat.T

In [0]:
## CODE CELL 51
# Calculating X'X where X' is the transpose of X

matT = mat.T
matT.dot(mat)    # you can also use "np.dot(matT,mat)"

In [0]:
## CODE CELL 52
# 2x2 identity matrix

np.identity(2)

In [0]:
## CODE CELL 53
# Finding the inverse of the matrix

np.linalg.inv(mat)

In [0]:
## CODE CELL 54
# Finding the determinant of the matrix

np.linalg.det(mat)

Other linear algebra methods can be found here: https://docs.scipy.org/doc/numpy/reference/routines.linalg.html

**Exercise 1:**

The Iris dataset is a well-known data source for teaching machine learning classification algorithms. There are four non-class attributes: sepal length (cm), sepal width (cm), petal length (cm), and petal width (cm). Each row corresponds to measurements from one iris plant.
Using the provided array, calculate the minimum, maximum, mean, and standard deviation for each attribute (you can assume the order of attributes above reflects the order of the columns in the array). Create a new array that excludes outliers (for this exercise, flowers with a value more than 2 standard deviations away from the mean for any of the attributes).

*Hint*: The axis can be specified for the `arr.any()` and `arr.all()` methods.

In [0]:
## CODE CELL 55

from sklearn import datasets

iris_data = datasets.load_iris()
iris_arr = iris_data.data

**Answer 1:**

In [0]:
## CODE CELL 56

## ENTER CODE HERE

## Working with Pandas

In this section, we'll be using data from the UNHCR (UN Refugee Agency). The UNHCR has collected and published data on refugees, asylum seekers, and other "populations of concern" from 1951-2016; more information can be found at http://popstats.unhcr.org/en/overview.

In [0]:
## CODE CELL 57

import pandas as pd

In [0]:
from google.colab import files
files.upload()

In [0]:
## CODE CELL 58
# Reading in the first table

persons = pd.read_csv('unhcr_popstats_export_persons_of_concern_all_data.csv')

Let's look at the data frame to see what's going on.

In [0]:
## CODE CELL 59
# Showing top 5 rows

persons.head()

In [0]:
## CODE CELL 60
# Showing last 5 rows

persons.tail()

So we see two issues - one is that the header hasn't been assigned properly, and the other is that we have asterisks which we'd like to replace with NaN's (null values).

In [0]:
## CODE CELL 61
# Let's get summary information

persons.info()

In [0]:
## CODE CELL 62
# Re-read in the data

persons = pd.read_csv('unhcr_popstats_export_persons_of_concern_all_data.csv', header=3, na_values = '*')

In [0]:
## CODE CELL 63
# Checking if we resolved the issues

persons.tail()

In [0]:
## CODE CELL 64

persons.info()

There are a lot of parameters you can adjust when reading in a CSV file; see the documentation for details: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html

Some of the column names are long - let's replace them for convenience of analysis.

In [0]:
## CODE CELL 65

per_renamed = persons.rename(index=str, columns ={'Country / territory of asylum/residence': 'Residence',
                                    'Refugees (incl. refugee-like situations)': 'Refugees',
                                    'Asylum-seekers (pending cases)': 'Asylum-seekers',
                                    'Internally displaced persons (IDPs)': 'IDPs'})
per_renamed.head()

How do we look at specific columns?

In [0]:
## CODE CELL 66

per_renamed['Origin']

In [0]:
## CODE CELL 67
# Count unique values in "Origin" column (we'll count "Various/Unknown" as one country)

per_renamed['Origin'].nunique()

Let's say we want to focus on persons from Somalia.

In [0]:
## CODE CELL 68

somali = per_renamed[per_renamed['Origin'] == 'Somalia']
somali

Now, let's say we want to be more specific and focus on Somalis who have come to the U.S. between 2000-2016.

In [0]:
## CODE CELL 69

somali_us = somali[(somali['Residence'] == 'United States of America') & (somali['Year'] >= 2000) & (somali['Year'] <= 2016)]
somali_us

Now, let's go back to the larger data frame, per_renamed.

In [0]:
## CODE CELL 70

per_renamed.head()

You may have noticed the index on the leftmost side of the data frame. If we don't assign the index when we read in the data, pandas will automatically assign the row number as the index. But for faster and more convenient look-ups, you will often want to assign one of your columns as the index.

In [0]:
## CODE CELL 71
# Let's set "Origin" as our new index and sort the countries alphabetically

origin_df = per_renamed.set_index('Origin').sort_index()
origin_df

This is convenient, because now we can more quickly access certain rows and columns, like so:

In [0]:
## CODE CELL 72
# Choosing rows corresponding to the slice between Somalia and Sudan (inclusive), and columns between Year and Asylum-seekers (inclusive)

origin_df.loc['Somalia':'Sudan', 'Year':'Asylum-seekers']

If you wanted to locate data by row/column numbers, you could use `.iloc` (integer-based location) instead of `.loc` (label-based location).

In [0]:
## CODE CELL 73

origin_df.iloc[0, 0:4]

Now, as we've alluded to previously, there are a lot of null values in this table.

In [0]:
## CODE CELL 74
# Quick way to check if there are any null values in each column

pd.isnull(origin_df).any()

In [0]:
## CODE CELL 75
# Are there columns with ONLY null values?

pd.isnull(origin_df).all()

In [0]:
## CODE CELL 76
# Which rows have null values?

origin_df[pd.isnull(origin_df).any(axis=1)].head(10)    # only want to look at the top 10 rows to save space

In [0]:
## CODE CELL 77
# Which rows do NOT have null values?

origin_df[pd.notnull(origin_df).all(axis=1)].head(10)

There are several ways you might want to handle missing values, depending on your data and application. One way is to simply drop rows or columns with null values:

In [0]:
## CODE CELL 78
# Dropping rows with NaN's in "Refugees" or "IDPs" columns

origin_df_nonnull = origin_df.dropna(axis=0, how='any', subset=['Refugees', 'IDPs'])
origin_df_nonnull.head(10)

However, sometimes dropping columns isn't feasible or desirable. You may instead want to impute missing values, replacing them with values that make sense in the context. 

Let's say we want to replace each NaN with the average value in its respective column.

In [0]:
## CODE CELL 79
# First, calculate the mean for each column (this may take a few seconds)

means = origin_df.mean(axis=0)

In [0]:
## CODE CELL 80

means

In [0]:
## CODE CELL 81
# Now, replace the NaN's

origin_df.fillna(means).head(10)

Alternatively, you might want to replace null values with zeros.

In [0]:
## CODE CELL 82

origin_df.fillna(0).head(10)

Let's look at some operations we can do in pandas.

In [0]:
## CODE CELL 83
# Adding a new column representing the sum of "Refugees" and "Returned refugees" to per_renamed, the non-index-specified
# dataframe (treating NaNs as zeros for the calculation)

per_renamed['All refugees'] = per_renamed['Refugees'] + per_renamed['Returned refugees'].fillna(0)
per_renamed

What if we want to look at the total number of refugees (not Returned) from each country in "Origin" by year? The easiest way to do this is by grouping the data.

In [0]:
## CODE CELL 84
# Grouping data by Origin and Year, then calculating totals

grouped_total = per_renamed.groupby(['Origin','Year'])['Refugees'].sum()
grouped_total

What if we want to find out which country "produced" (for lack of a better word) the most refugees, by year?

In [0]:
## CODE CELL 85
# First, group and sum over each group

grouped_new = per_renamed.groupby(['Year', 'Origin'])['Refugees'].sum()
grouped_new

In [0]:
## CODE CELL 86
# We can use the DataFrame.unstack() method to pivot the years to columns

unstacked = grouped_new.unstack(level=0)
unstacked

In [0]:
## CODE CELL 87
# Finally, use the DataFrame.idxmax() method to return the indices corresponding to the maximum value for each column

max_origin = unstacked.idxmax(axis=0)
max_origin

In [0]:
## Solution to Exercise 1
iris_arr.shape  
## CODE CELL 57

iris_arr.min(axis=0)    # minimum values
## CODE CELL 58

iris_arr.max(axis=0)    # maximum values

## CODE CELL 59

mean_vals = iris_arr.mean(axis=0)    # mean values
mean_vals

In [0]:
## CODE CELL 60

std_vals = iris_arr.std(axis=0)    # standard deviations
std_vals

In [0]:
## CODE CELL 61
# To create a mask against outliers, first get boolean array differentiating outliers vs. non-outliers

notOutlier = (iris_arr <= mean_vals+2*std_vals)&(iris_arr >= mean_vals-2*std_vals)
notOutlier

In [0]:
## CODE CELL 62
# To use the mask, we need to flatten the array to 1D

compressed = notOutlier.all(axis=1)
compressed

In [0]:
## CODE CELL 63
# Finally, use the mask to exclude rows with outliers

iris_arr[compressed]

*Reference*:

The following material was consulted during development of this notebook, which loosely follows the structure of McKinney's chapter on NumPy Basics:

W. McKinney, "Chapter 4 - Numpy Basics: Arrays and Vectorized Computation," in *Python for Data Analysis : Data Wrangling with Pandas, Numpy, and IPython.* Sebastopol, CA: O'Reilly Media, 2012. [Online] Available: EBSCOhost, https://search-ebscohost-com.proxy.libraries.rutgers.edu/login.aspx?direct=true&db=nlebk&AN=495822&site=eds-live.